*{margin:0;padding:0;font-size:12px;font-family:"Microsoft YaHei";}
a{text-decoration:none;color:#fff;}
/*布局*/
.top{position:fixed;top:0;left:0;right:0;width:100%;height:50px;background:rgb(99, 161, 255);text-align:center;}
.top span{display:inline-block;font-size:15px;color:#fff;line-height:50px;}
.back{float:left;margin:10px 0 10px 10px;}
.right{float:right;margin-right:10px;}

.center{position:fixed;top:50px;left:0;right:0;bottom:50px;width:100%;background:#eff0f4;}

.bottom{position:fixed;left:0;right:0;bottom:0;width:100%;height:50px;background:#fff;border-top:1px solid #ddd;box-shadow:-2px -2px 2px #ddd;text-align:center;line-height:50px;}

/*登录*/
.loginTab{float:left;width:94%;margin-left:3%;margin-top:15px;}
.loginTab li{color:gray;float:left;list-style:none;border-radius:10px 10px 0 0;width:50%;padding:10px 0;text-align:center;border-bottom: 1px dotted #fff;}
.loginTab li.active{color:rgb(99, 161, 255);background:#fff;border-color:rgba(0, 0, 0, 0.2);}

.content{float:left;width:94%;margin-left:3%;background:#fff;border-radius:0 0 10px 10px;}
.topContent{margin-top:20px;border-radius:10px;}
.normalTable{background: rgb(247, 247, 247);width: 95%;margin-left: 2.5%;margin-top:10px;margin-bottom:10px;}
.normalTable tr{border:0;}
.normalTable tr td{padding:10px 0;}
.normalTable .pull-right{text-align: right;color:#676767;}

.yzm{height:30px;}

/*我要贷款*/
h1{color:#fff;font-size:30px;text-align:center;margin-top:10px;}
.bz{color:#fff;text-align:center;}
.strong{font-size:15px;}
/*预授信*/
.left{text-align:left;padding-left:30px;}
.sqjl{color:#fff;margin-right:30px;}
.sqjl img{vertical-align:text-bottom;}
.kg{margin-left:20px;}
#btn2,#state{display:none;}
/*<!--dialog-->*/
#dialog{background:rgba(0,0,0,0.5); width:100%;height:100%;position:fixed;z-index:1000000;display:none;}
.display-div{background:white;width:300px;margin:0 auto;margin-top:200px;overflow:auto;z-index:9999;border-radius:10px;}
.display-div img{float:left;width:80px;;margin:20px;}
.tsxx{display:inline-block;float:left;width:160px;padding-top:40px;}
.tsxx p{text-align:center;line-height:20px;}
.tsxx .tsTitle{font-size:18px;padding-bottom:15px;}
.button{float:left;width:100%;margin-bottom:20px;margin-top:10px;text-align:center;}
.button .btn{width:100px;}

.tsTitle{margin-top:10px;text-align:center;font-size:18px;padding-bottom:15px;}
.tsTitle img{float:none;vertical-align:middle;margin:0 5px;}
.Center{text-align:center;line-height:20px;}
/*form*/
input[type=text],input[type=password]{width:85%;margin:0;padding:8px;border-radius:5px;border:0;color:#428bca;}
select{width:85%;margin:0;padding:8px;border-radius:5px;border:0;color:#428bca;}
.btn{padding:8px 10px;color:#fff;border:0;border-radius:5px;}
.btn-yzm{background:#888;}
.btn-login{background:rgb(99, 161, 255);width:90%;}
.btn-tsed{background: #f57a03;}
.btn-gray{background:gray}
.btn-jb{background:#fff;width:90px;color:gray}
/*彩色文字*/
.red{color:#d9534f;}
.black{color:#000}
.green{color: #8bcb54;}
.blue{color:#428bca;}
.gray{color:gray;}
.yellow{color:#f57a03;}