<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <title>快审通</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">
    <link href="../static/css/main.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/vendor/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/underscore-1.8.3.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/backbone-1.3.3.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <style type="text/css">

    </style>
    <script type="text/javascript">
    </script>
</head>


<body>
    <div class="top">
        <span class="back"><img src="../static/img/back.png"/></span>
        <span class="title">我的账户</span>
    </div>
    <div class="center" style="bottom:0;">
        <div class="content topContent">
            <table id="single_content" class="normalTable">
                <script type="text/template" id="single_template">
                    <tr>
                        <td class="pull-right">姓名：</td>
                        <td style="width:60%"><span class="black strong"><%= result.real_name %></span></td>
                    </tr>
                    <tr>
                        <td class="pull-right">电话：</td>
                        <td><span class="black strong"><%= result.phone %></span></td>
                    </tr>
                    <tr>
                        <td class="pull-right">身份证号：</td>
                        <td><span class="black strong"><%= result.identification_number %></span></td>
                    </tr>
                    <tr>
                        <td class="pull-right">银行卡号：</td>
                        <td><span class="black strong"><%= result.bank_card_number %></span></td>
                    </tr>
                </script>
            </table>
        </div>
    </div>
</body>

<script type="text/javascript" src="../static/js/wdzh.js"></script>

</html>