<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>快审通</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<link href="../static/css/main.css" rel="stylesheet">
	<script src="js/jquery-1.7.2.min.js"></script>
	<script src="../static/js/main.js"></script>
	<style type="text/css">
	
	</style>
	<script type="text/javascript">
		
	</script>
</head>
<body>
	<div class="top">
		<span class="back"><img src="../static/img/back.png"/></span>
		<span class="title">我要还款</span>
	</div>
	<div class="center">
		<div class="content topContent">			
			<table class="normalTable">
				<tr>
					<td colspan="2"><b class="black kg">订单号：874564535</b></td>
					<td style="width:50%"><b class="black right">申请日期：2016.08.06</b></td>
				</tr>				
				<tr>
					<td rowspan="4" style="width:30px"><img src="../static/img/ok_y.png" class="kg" style="width:20px;"/></td>
					<td colspan="2"><span class="gray kg">借款总额：</span><span class="yellow strong" style="font-size:20px;">¥ 5,000.00</span></td>
				</tr>					
				<tr>
					<td colspan="2"><span class="gray kg">本金余额：￥4000.00</span></td>
				</tr>					
				<tr>
					<td colspan="2"><span class="gray kg">应还利息：￥89.60</td>
				</tr>
				<tr>
					<td colspan="2"><span class="black strong kg">最后还款日期：2016.12.01</span></td>
				</tr>				
			</table>	
			<table class="normalTable Center">
				<tr>
					<th style="width:30px"><img src="../static/img/ok_y.png" class="kg" style="width:20px;"/></th>
					<th><span class="yellow">期次</span></th>
					<th><span class="yellow">还款日</span></th>
					<th><span class="yellow">本金</span></th>
					<th><span class="yellow">利息</span></th>
				</tr>				
				<tr>
					<td><input type="checkbox" class="kg" checked/></td>
					<td>第一期</td>
					<td>2017-12-01</td>
					<td>2000</td>
					<td>30.60</td>
				</tr>				
				<tr>
					<td><input type="checkbox" class="kg" checked/></td>
					<td>第一期</td>
					<td>2017-12-01</td>
					<td>2000</td>
					<td>30.60</td>
				</tr>			
			</table>	
		</div>
	</div>	
	<div class="bottom">
		<input type="button" value="还款" class="btn btn-login" onclick="changePage('hkqr.html')"/>
	</div>
</body>
</html>
