<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <title>快审通</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">
    <link href="../static/css/main.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/vendor/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/underscore-1.8.3.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/backbone-1.3.3.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <style type="text/css">

    </style>
    <script type="text/javascript">
    </script>
</head>

<body>
    <div class="center">
        <div id="single_content" class="wdzh" style="background:url(../static/img/bj3.png);margin-bottom:15px;">
            <script type="text/template" id="single_template">
                <input type="hidden" id="quota_id" value="<%= result.id %>">
                <div class="kyed">
                    <p>可用额度</p>
                    <h2>￥
                        <%= result.available_amount %>
                    </h2>
                </div>

                <div class="zed">
                    <p>总额度</p>
                    <h2>￥
                        <%= result.amount %>
                    </h2>
                </div>
            </script>
        </div>

        <div id="btn_content" style="width:94%;margin-left:3%;">
            <script type="text/template" id="btn_template">
                <% if(result.status == '0' || result.is_bankcard_binded == '0'){ %>
                    <% if(result.is_bankcard_binded == '1'){ %>
                        <input type="button" class="btn btn-tsed right btn-gray" value="提升额度" id="btn2" style="width:23.5%;margin-right:2%;">
                        <% } %>
                            <% }else{ %>
                                <input type="button" class="btn btn-tsed right" value="提升额度" id="btn1" onclick="updateQuota()" style="width:23.5%;margin-right:2%;">
                                <% } %>
                                    <input type="button" class="btn btn-bdyhk right" value="绑定银行卡" onclick="changePage('wdyhk')" style="width:23.5%;margin-right:2%;">

                                    <input type="button" class="btn btn-login right" value="申请记录" onclick="changePage( 'dksqjl')" style="width:23.5%;margin-right:2%;">

                                    <% if(result.status == '0'){ %>
                                        <p class="gray strong right" id="state" style="width:100%;text-align:right">
                                            提额状态：<span class="strong yellow">正在处理</span>
                                        </p>
                                        <% } %>
                                            <% if(result.is_bankcard_binded == '0'){ %>
                                                <p class="gray strong right" id="state" style="width:100%;text-align:right">
                                                    提额状态：<span class="strong yellow">请先绑定银行卡获得初始额度才能提额</span>
                                                </p>
                                                <% } %>
            </script>
        </div>
    </div>



    <div class="bottom">
        <input type="button" value="申请贷款" class="btn btn-login" onclick="changePage( 'wydk')" />
    </div>
    <div id="dialog">
        <div class="display-div">
            <p class="tsTitle"><img src="../static/img/ok.png" style="width:21px;margin-top:-4px;" />您的提额申请已提交<img src="../static/img/sqjl_g.png" style="width:21px;" /></p>
            <p class="Center">我行将<span class="blue strong">电话或现场</span>调查信息，请保持您<br/>18290895563的电话畅通</p>

            <div class="button">
                <input type="button" value="确定" class="btn btn-login btn-small" />
            </div>
        </div>
        <!-- /display-div -->
    </div>
</body>

<script type="text/javascript " src="../static/js/ysx.js "></script>

</html>